<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	<img th:src="@{'/img/spring.jpg'}" alt="logo" />
	<a th:href="@{/}">Home</a>
	<a th:href="@{/add}">Add</a>
	
	<h1>Ajouter</h1>
	
	<form th:action="@{/add/insert}" method="post">
		<label for="">Prénom</label>
		<input type="text" name="prenom" />
		<label for="">Nom</label>
		<input type="text" name="nom" />
		<label for="">Âge</label>
		<input type="number" name="age" /> 
		<input type="submit" />
	</form>

</body>
</html>