<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
	<th:block th:insert="~{_commun :: head}"></th:block>

<body>

	<th:block th:insert="~{_commun :: header}"></th:block>
	
	<main class="container-fluid">
		<h2 class="text-center">Faites vos achats</h2>
		
		<div class="d-flex row" style="max-width: 100%">
		
			<div class="card col-3 m-1" th:each="art: ${articles}">
				<a th:href="@{/article/detail/__${art.id}__}" class="" style="width: 100%; height: 100%">
					<img th:src="${art.logo}" th:alt=${art.libelle} />
				</a>
				<div class="card-body">
				    <h5 class="card-title">[[${art.libelle}]] à [[${art.prix}]]€</h5>
				    <p class="card-text">
				    	<a th:href="@{/article/detail/__${art.id}__}" class="" style="width: 100%; height: 100%">
 				    		[[${#strings.substring(art.description, 0, 60)}]] [...]
 				    	</a>
				    </p>

				</div>
			
			</div>
		</div>
		
	</main>
	
	<th:block th:insert="~{_commun :: footer}"></th:block>

</body>
</html>





