<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
	<th:block th:insert="~{_commun :: head}"></th:block>

<body>

	<th:block th:insert="~{_commun :: header}"></th:block>
	
	<main class="container-fluid">
		<h2 class="text-center">Ajouter un étudiant</h2>
		
		<form method="post" th:action="@{/user/insert}" th:object="${user}">
			
			<input type="hidden" th:field="*{id}"/>	
		
			  <div class="mb-3 form-check">
			    <input type="radio" class="form-check-input" th:field="*{sexe}" id="femme" value="Femme" name="sexe">
			    <label class="form-check-label" for="femme">Femme</label>
			  </div>
			  <div class="mb-3 form-check">
			    <input type="radio" class="form-check-input" th:field="*{sexe}" id="homme" value="Homme" name="sexe">
			    <label class="form-check-label" for="homme">Homme</label>
			  </div>
			
			  <div class="mb-3">
			    <label class="form-label">Prénom</label>
			    <input type="text" class="form-control" th:field="*{prenom}">
			    <div th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="alert alert-danger p-1 mt-1"></div>
			  </div>
			  
			  <div class="mb-3">
			    <label class="form-label">Nom</label>
			    <input type="text" class="form-control" th:field="*{nom}">
			    <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="alert alert-danger p-1 mt-1"></div>
			  </div>
			  
			  <div class="mb-3">
			    <label class="form-label">Login</label>
			    <input type="text" class="form-control" th:field="*{login}">
			    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="alert alert-danger p-1 mt-1"></div>
			    <div class="p-2 text-danger" th:text="${unique}">err</div>
			  </div>
			  
			  <div class="mb-3">
			    <label class="form-label">Password</label>
			    <input type="password" class="form-control"  th:field="*{mdp}">
			  </div>
			  
			  <div class="mb-3">
			  	<div class="mb-3 form-check" th:each="promo: ${promos}">
			    	<input type="radio" class="form-check-input" th:field="*{promo}" th:id="${promo.id}" th:value="${promo.id}" name="promo">
			    	<label class="form-check-label" th:for="${promo.id}">[[${promo.nom}]]</label>
			  	</div>
			  	
			  </div>
			  
			  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
	</main>
	
	<th:block th:insert="~{_commun :: footer}"></th:block>

</body>
</html>





