@charset "UTF-8";

a{text-decoration: none;}

img{max-width: 100%}

td{
	height: 50px;
	width: 50px
}

td img{
	width: 30%
}

#panierValue{
	position: relative;
    top: -15px;
    right: 8px;
    color: red;
}

.changeQtityCart:hover{
	cursor: pointer;
}