<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer un article</title>
</head>
<body>
    <form th:object="${article}" th:action="@{/articles/creer}" method="post">
        <label for="libelle">Libellé:</label><br>
        <input th:field="*{libelle}" type="text" id="libelle" name="libelle"><br>
        <label  for="prix">Prix:</label><br>
        <input th:field="*{prix}" type="text" id="prix" name="prix"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
