<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
	<th:block th:insert="~{_commun :: head}"></th:block>

<body>

	<th:block th:insert="~{_commun :: header}"></th:block>
	
	<main class="container-fluid">
		<h2 class="text-center">Mon panier</h2>
		<hr />
		<div class="row mt-5" th:if="${session.totalArt}">
			<div class="col-8">
				
				<div class="card mb-3" th:each="art, compteur : ${artsPanier}">
					<div class="card-body row">
					<!-- 	COMPTEUR NOMBRE ARTICLE -->
						<div class="col-1 text-center fw-bold">[[${compteur.count}]]</div>
						
						<div class="col-3">
							<img th:src="${art.article.logo}" alt="" />
						</div>
						
						<div class="col-5">
							<h4>[[${art.article.libelle}]] [[${art.article.marque}]]</h4>
							<h5>Type d'article [[${art.article.type}]] de catégorie [[${art.article.categorie.nom}]]</h5>
							<p th:text="${art.article.description}"></p>
							<h6><span th:id="prix+${art.article.id}">[[${art.article.prix}]]</span> €</h6>
							<p>Quantité en stock: <span th:id="stock+${art.article.id}">[[${art.article.stock}]]</span></p>		
							
							<a th:href="@{/panier/delete/article/__${session.user.panier.id}__}"> 
								<i class="fa-solid fa-trash"></i> 
							</a>						
						</div>
						
						<form action="" class="col-3">
							<input type="hidden" th:value="${art.panier.id}" class="id_panier"/>
							<ul class="pagination justify-content-center">
								<li class="page-item">
							    	<span class="page-link changeQtityCart" th:id="${art.article.id}">-</span>
							    </li>
							    <li class="page-item">
							     	<input readonly type="text" 
							     			th:value="${art.quantity}" 
							     			th:id="input+${art.article.id}" size="1" class="page-link text-center"/>
							    </li>
							    <li class="page-item">
							    	<span class="page-link changeQtityCart" th:pid="${art.article.id}">+</span>
							    </li>
							</ul>
							<div>Total prix : <span class="somme" th:id="somme+${art.article.id}">[[${art.article.prix} * ${art.quantity}]]</span> €</div>
						</form>
						
					</div>
				</div>
					
			</div>
			
			<div class="col-4">
				Total Panier pour ([[${session.totalArt}]] articles)
				<div class="fw-bold"> <span id="totalPanier">[[${total}]]</span> €</div> 
				
				<button class="btn btn-primary mt-2"  data-bs-toggle="modal" data-bs-target="#validerCommande">Valider ma commande</button>
			</div>
		
		</div>
		<div class="text-center h2 m-5" th:unless="${session.totalArt}">
			Votre panier est vide
		</div>
		
		
	</main>
	
	<!-- Modal pour valider une commande -->
	<div class="modal" tabindex="-1" id="validerCommande">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title">Validation panier</h5>
	        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      		</div>
		     	 <div class="modal-body">
		        	<p class="fw-bold">Total panier : <span>[[${total}]]</span> € </p>
		      	</div>
		      	<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
			        <a th:href="@{/commande/valider/__${session.user.panier.id}__}" class="btn btn-primary">Valider</a>
		      	</div>
	    </div>
	  </div>
	</div>
	
	<th:block th:insert="~{_commun :: footer}"></th:block>
	
	<script>
	
		$('.changeQtityCart').click( function(){

			let id_panier = $(".id_panier").val();
			let input_val;
			let id_art;
			qttArtPanier = parseInt(document.getElementById("panierValue").innerHTML);
			
			//Recup signe + ou -
			const SIGNE = $(this).html();
			
			//CONTROL BTN +/-
			if( SIGNE == "+" ){
				//valeur attribut pid
				id_art = $(this).attr("pid");
				//vleur de l'input plus incrémentation
				input_val = +$("#input" + id_art).val() + 1;
				//MAJ QTT TOTAL ARTPANIER
				qttArtPanier++;
			}
			else if( SIGNE == "-" ){
				//valeur attribut id
				id_art = $(this).attr("id");
				//vleur de l'input plus décrémentation
				input_val = $("#input" + id_art).val() - 1;
				//MAJ QTT TOTAL ARTPANIER
				qttArtPanier--; 
				
			}
			
			//Recup qtt stock
			let qtt = $("#stock" + id_art).html();
			
			//CONTROL QTT
			if( input_val > qtt ) input_val = qtt;
			else if( input_val <= 0) input_val = 1;
			
			//MAJ INPUT VAL
			$("#input" + id_art).val(input_val);
			
			
			let prix_art = $('#prix' + id_art).html();
			
			$('#somme'+id_art).html( prix_art * input_val );
			
			let sommePanier = document.getElementsByClassName("somme");
			let somme = 0;
			
			//parcours somme par art*qtt
			for(let i = 0; i < sommePanier.length; i++){
				somme += parseFloat( sommePanier[i].innerHTML );
			}
			
			//MAJ total panier
			$("#totalPanier").html(somme);

			//MAJ VALEUR SUR L'ICONE PANIER
			document.getElementById("panierValue").innerHTML = qttArtPanier;
			
			
			//ENVOIE REQUETE AJAX - UPDATE QUANTITE PANIER D'UN ARTICLE
			$.ajax({
				url: "/panier/update/"+id_panier+"/"+id_art+"/"+input_val,
				type: 'POST',
				data: {id_panier: id_panier, id_article: id_art, qtt: input_val},
				success: function(result){
					console.log(result);
				}
				
			});
			
		}); 	
		
	</script>

</body>
</html>















